<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <title>Document</title>
</head>
<body>
 <div class="main">
  <div class="card">
    <h1>Expense Tracker</h1> <hr>
    <div class="buttons">
    <a href="/sign-in">
      Login
    </a>
    <a href="/sign-up">
      register
    </a> </div>
  </div>
 </div>
</body>
</html>