<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update/<%=obj._id %>" method="post">
        <input type="number" name="amount" placeholder="amount">
        <input type="text" name="category" placeholder="category">
        <input type="text" name="remark" placeholder="remark">
        <input type="text" name="payment_method" placeholder="payemnt mode ">
        <button>submit</button>
    </form>
</body>
</html>